@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

body {
  margin: 0px auto;
}

/*Footer*/

.footer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: black;
  padding-top: 5rem;
}

.footer-headline {
  margin: 5rem;
  color: white;
  font-size: 5rem;
  font-family: "Italianno", cursive;
  text-align: center;
}

.developer-headline {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.developer-name {
  color: white;
  font-size: 2rem;
}

.footer-link {
  background-color: black;
  padding: 1rem 6rem;
  border-radius: 2rem;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 3rem;
  cursor: pointer;
  transition-duration: 0.3s;
}

.footer-link:hover {
  background-color: rgba(128, 128, 128, 0.679);
  color: white;
}
